* {
  color: #333;
}

body {
  background-color: #eee;
}

a, a:active, a:visited, code.url {
  color: #333;
  text-decoration: none;
}

p a, p a:active, p a:visited {
  color: #333;
}

h1,h2,h3,h4,h5,h6 {
  color: rgb(0, 107, 200);
	font-family: Arial;
}

header {
  height:60px;
  line-height:60px;
}

/* Form */
textarea {
  background-color: #fff;
  color: #111;
  width: 100%;
  min-height: 20px;
  padding: 5px;
  border-radius: 5px;
  border-color: #ccc;
}

div#main {
  width: 90%;
  min-width: 500px;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
}

/*#msg {
  color: #dc322f;
}*/

/* Result */
div#result {
  display: none;
  background-color: #fff;
  padding: 20px;
}

div#result img.structure {
  width: 100%;
}

div#result textarea {
  padding: 0;
  min-height: 400px;
  font-family: 'Liberation Mono', Courier,Arial,Helvetica,sans-serif !important;
  white-space: pre;
  white-space: pre-wrap;
}

/* Buttons */
button {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
}

button, .btn {
   display: inline-block;
   text-align: center;
   text-decoration: none;
   margin: 2px 0;
   border: solid 1px transparent;
   border-radius: 4px;
   padding: 0.5em 1em;
   color: #fdf6e3;
   background-color: #000;
}

button:hover, .btn:hover {
   color: #002b36;
   border-color: currentColor;
   background-color: #fdf6e3;;
   outline: none;
}

a:hover, a:focus, a:active,
button:hover, .btn:hover,
button:focus, .btn:focus,
button:active, .btn:active {
  outline: none;
}

select.btn, select.btn:hover  {
  background-color: #586e75;
  color: #fdf6e3;
}

.btn submit {
  margin-top: 18px;
}

span#eta {
  font-weight: bold;
  color: #d00;
}

button.green, .btn.green {
  color: #fff;
  background-color: #859900;
}

button.blue, .btn.blue {
  color: #fff;
  background-color: #668cff;
}

button.red, .btn.red {
  color: #fff;
  background-color: #ed634e;
}

fieldset {
  margin: 10px;
}

fieldset div.rt {
  padding: 0;
	height: 250px;
  vertical-align: middle;
}

fieldset div.rt img.structure {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 50px;
}

fieldset div.rt .links {
  padding-left: 50px;
  padding-top: 105px;
}

label.optional {
  color: #888;
}

pre.url {
	font-size: 11pt;
}
